@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<h2>
    Sorry, an error occurred while processing your request. 
</h2>
 <div>
            <input type="button" class="metro-button" id="okButton" value="Return" onclick="javascript:history.go(-1);"/>
</div>

@*<script type="text/javascript">
    $("#okButton").click(function () {
        
    });

</script>*@