@{
    ViewBag.Title = "Athena Accounts Receivable";
}

                     
       <div id="title">
                <div  id="logo"><h1>Sales</h1><br /> </div>
                <BR/><BR/>
 		            <a href="/" style="color:#fff;"><div class="back-to-main-button" title="Click here to go back to main menu"><H3  style="margin:0px 0 0 5px;">←</h3></div></a> <br/>              
                 <div id="logindisplay">
                     @Html.Partial("_LogOnPartial")
                </div>                                
         </div>    
       
   
    <div id="content">
    <BR/>
     <div class="float-left" style="width:16%;">
            <ul class="menu">
                <li><a id="all" href="#" onclick="return getAction('/Sales/SalesData')">All</a></li>
                <li><a id="his" href="#" onclick="return getAction('/Sales/SalesHistory')">History</a></li>                
            </ul>
        </div>
        <div id="salesWorkspace" class="float-right" style="width:75%;">          
        </div>

</div>
@* <div id="footer2">
            <input type="button" class="metro-button" onclick="return getAction('/Sales/Create')" value="New" /> 
	     <input type="button" id="all" class="metro-button" onclick="return getAction('/Sales/SalesData')" value="Current" /> 
             <input type="button" id="his" class="metro-button" onclick="return getAction('/Sales/SalesHistory')" value="Archive" /> 
        </div>*@
       <div id="footer">
            Copyright Athena © 2012. All rights reserved.
        </div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#all').click();
    });

    function getAction(a) {

        //        if (a == "/Sales/Create")
        //            $('newSales').hide(1000);
        //        else
        //            $('newSales').show(1000);
        //Hides the workspace first.
        // $('#salesWorkspace').hide(1000);
        $('#salesWorkspace').empty(100);
        $.get(a, function (data) {

            $('#salesWorkspace').append(data);
//            $('#salesWorkspace').show(2000);
        });
    };
</script>